nav {
  background-color: #3a6181;
  padding: 1vw 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1vw;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3vw;
}
nav ul li {
  display: flex;
  align-items: center;
  align-content: center;
}
.search form{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search input {
  padding: 0.5vw;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search button {    
  padding: 0.5vw 1vw;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #3a6181;
  cursor: pointer;
}