.card {
    width: 100%;
    height: auto;
    margin: 1rem;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(36, 90, 85, 0.5),
        0 0 14px rgba(36, 90, 85, 0.5);
    border-radius: 5px;
}

.card h2 {
    font-size: 1.5vw;
    margin: 0.5rem 0;
}

.card ul {
    width: 100%;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center; /* Align items vertically */
}

.card ul li {
    margin-right: 0.5rem;
}


.card .genre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
}
.card .genre a {
    color: aqua;
    display: block;
    margin-top: 0.5rem;
    font-size: 1vw;
}